.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    height: 25%;
    width: 100%;
    background-color:rgb(133,125,156);
 }
 
 #Content{
    text-align: center;
    font-size: 15px;
    width: 100%;
 }

 #Content th {
    padding-top: 12px;
    padding-bottom: 12px;
    color: white;
}

#Content td, #Content th {
    padding: 8px;
}