.footer {
    bottom: 0;
    position: absolute;
    left: 0;
    height: 170px;
    width: 100%;
    background-color:rgb(133,125,156);
 }
 
 #Content{
    text-align: center;
    font-size: 15px;
    width: 90%;
    /* margin-left: auto;
    margin-right: auto; */
 }

 #Content th {
    padding-top: 12px;
    padding-bottom: 12px;
    color: white;
}

#Content td, #Content th {
    padding: 8px;
}

@media only screen and (max-width: 600px) {
    .footer{
        height: 200px;
    }

}