.NavigationBar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.NavigationItem {
  float: left;
  border-right:1px solid #bbb;
}

.NavigationItem:last-child {
  border-right: none;
}

.NavigationItem a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.NavigationItem a:hover:not(.active) {
  background-color: #111;
}

.Home-Button {
  background-color: #4CAF50;
}